name: CMake CI (Linux + Windows)

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure CMake
      run: >
        cmake -S . -B build
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      run: >
        cmake --build build
        ${{ runner.os == 'Windows' && '--config ' || '' }}${{ matrix.build_type }}

    - name: Test
      run: >
        ctest --test-dir build
        ${{ runner.os == 'Windows' && '--build-config ' || '' }}${{ matrix.build_type }}
        --output-on-failure
